{{ if or .Params.math .Site.Params.math }}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.css" integrity="sha384-n8MVd4RsEwO4O0pXm0m1qNm72h2ZMOZ1B2m84Zg50yH0Ett1BFO9GjB9R5zN" crossorigin="anonymous">

<!-- The loading of KaTeX is deferred to speed up page rendering -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/katex.min.js" integrity="sha384-H4L0P5/3qf+aH21sO2Q2w0uO1oYp8z/tD1x7oY9bWp5T8Wp6z0xJb7G7g" crossorigin="anonymous"></script>

<!-- To automatically render math in text elements, include the auto-render extension: -->
<script defer src="https://cdn.jsdelivr.net/npm/katex@0.16.9/dist/contrib/auto-render.min.js" integrity="sha384-wA+N1tF2+z3u8o1pL+w7B/w8t8zG9Ew1J4L+0i7y8D9Z7i7yJ7rZ2M2sBvRk/zG" crossorigin="anonymous"
    onload="renderMathInElement(document.body, {
      delimiters: [
          {left: '$$', right: '$$', display: true},
          {left: '\\[', right: '\\]', display: true},
          {left: '$', right: '$', display: false},
          {left: '\\(', right: '\\)', display: false}
      ],
      ignoredTags: ['script', 'noscript', 'style', 'textarea', 'pre', 'code'],
      throwOnError: false
    });"></script>
{{ end }}